
.btn-danger{
  border-radius: 50px;
  padding: 0;
  position: absolute;
  top: 10px; /* Ajusta la distancia desde la parte superior */
  right: 16px; /* Ajusta la distancia desde la derecha */
  z-index: 999;
}
