  <div class="container" >
    <h2 class="text-center"><span class="material-symbols-outlined align-text-top pe-1 fs-5">
      pets
      </span>Registra tu mascota<span class="material-symbols-outlined align-text-top pe-1 fs-5">
        pets
        </span></h2>
    <p class="text-center">Diligencia los siguientes datos para registar a tu mascota</p>
    <form action="">
      <div class="mb-3">
        <label for="floatingInput">Selecciona una foto de tu mascota</label>
        <input type="file" class="form-control" aria-label="file example" required>
        <div class="invalid-feedback">Example invalid form file feedback</div>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Nombre de la mascota">
        <label for="floatingInput">Nombre de la mascota</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="Edad">
        <label for="floatingInput">Edad</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Tipo">
        <label for="floatingInput">Tipo</label>
        <small>Ejemplo: Gato, Perro, Serpiente, etc.</small>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Raza">
        <label for="floatingInput">Raza</label>
        <small>Ejemplo: Labrador, Golden, San Bernardo, etc.</small>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
         Si su mascota es agresiva, marque la casilla
        </label>
      </div>
  <div class="text-center mt-2">

    <button class="btn btn-success m-1"><span class="material-symbols-outlined align-text-bottom pe-1 fs-5">
      add_circle
      </span>Agregar mascota</button>
    <button class="btn btn-danger m-1"><span class="material-symbols-outlined align-text-bottom pe-1 fs-5">
        cancel
        </span>Cancelar registro</button>
  </div>
    </form>

  </div>

