<main class="container">
  <article>
    <h1 class="text-center">Mascotas bloqueadas</h1>
    <div class="container">

      <p class="p-2 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-3 text-center" *ngIf="petsLocked.length === 0">No hay mascotas bloqueadas.</p>
      <div class="row justify-content-center">
        <div class="col-md-4" *ngFor="let petLocked of petsLocked">
          <div class="card mb-3 tarjeta shadow">
            <div class="card-body">
              <h2 class="card-title text-center"><strong>{{petLocked.name}}</strong></h2>
              <p class="card-text"><strong>Edad: </strong>{{petLocked.age}}</p>
              <p class="card-text"><strong>Tipo: </strong>{{petLocked.type}}</p>
              <p class="card-text"><strong>Raza: </strong>{{petLocked.breed}}</p>
              <p class="card-text"><strong>Dueño: </strong>{{petLocked.user.names}}</p>
              <p class="card-text">
                <strong>Peligroso: </strong>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 64 64"
                  *ngIf="petLocked.dangerous; else noPeligroso">
                  <rect width="100%" height="100%" fill="#ff2323" rx="10" ry="10" />
                  <line x1="20" y1="20" x2="44" y2="44" stroke="#FFFFFF" stroke-width="6" />
                  <line x1="20" y1="44" x2="44" y2="20" stroke="#FFFFFF" stroke-width="6" />
                </svg>

                <ng-template #noPeligroso>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 64 64">
                    <rect width="100%" height="100%" fill="#198754" rx="10" ry="10" />
                    <path d="M16 32l11 11 24-24" fill="none" stroke="#FFFFFF" stroke-width="6" stroke-linecap="round" />
                  </svg>

                </ng-template>
              </p>
              <div class="text-center">



                <button class="btn btn-warning m-1" matTooltip="Desbloquear" matTooltipPosition="left"
                  matTooltipClass="unlock-tooltip" (click)="unlockPets(petLocked.id!)"><span
                    class="material-symbols-outlined fs-5 align-text-bottom">
                    lock_open_right
                  </span></button>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </article>
</main>
