 <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>


    <!-- Navbar -->
<div class="page">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand me-auto" href="#">
          <span class="material-symbols-outlined logo">
            sound_detection_dog_barking
            </span>
        </a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                  <span class="material-symbols-outlined logo">
                    sound_detection_dog_barking
                    </span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item" *ngFor="let link of links">
                        <a [routerLink]="link.link" routerLinkActive="active" class="nav-link mx-lg-2" aria-current="page">
                          <span class="material-symbols-outlined align-text-bottom">
                           {{link.icon}}
                            </span>
                          {{link.label}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <button (click)="openDialogLogin()" class="login-button" *ngIf="!authState; else usuario"><span class="material-symbols-outlined align-text-bottom pe-1 fs-5">
          login
          </span>Acceso</button>
        <ng-template #usuario>
          <button class="login-button" (click)="logout()"><span class="material-symbols-outlined align-text-bottom pe-1 fs-5">
            logout
            </span>Salir</button>
        </ng-template>

        <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
</div>


