<h1 class="text-center">Quienes somos</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
<p>      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat delectus atque minima esse eaque saepe. Ipsum quae assumenda amet optio fugiat aspernatur animi atque, magnam libero tempore id beatae nostrum.
  Excepturi eos nulla at earum facere dignissimos vel laboriosam, magnam voluptatibus nostrum, accusamus suscipit saepe quis maiores libero doloribus obcaecati voluptate sed quos! Saepe debitis incidunt maxime quae dignissimos deserunt?
  Sit placeat voluptatum enim provident aperiam aut voluptates tempora porro error id voluptatibus, magnam excepturi temporibus deleniti, qui inventore similique nemo architecto dolore? Officia velit maxime accusantium voluptas praesentium! Repellat?
  Consequatur, in. Atque recusandae commodi aperiam iusto autem, nisi quidem odit reprehenderit rerum ipsum tempore eligendi, maxime aliquid voluptates similique tempora consequatur assumenda quia corrupti possimus vel fugit, cum cupiditate.
  Eligendi laudantium deleniti minus et voluptatum provident omnis doloribus quibusdam aliquam ipsam atque earum blanditiis dolore ad dolores, maxime voluptatibus beatae aspernatur, nam saepe! Commodi quidem voluptates accusamus vero at?</p>
  </div>
    <div class="col-sm-4">
      <img src="https://images.ecestaticos.com/dYdwAymw0lUcrxgIno24-PM2oDo=/0x0:1255x835/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Fda6%2Fad1%2Fd15%2Fda6ad1d156e8d6d80d325573b95d3a0c.jpg" alt="Capibara" class="quienes">
    </div>
  </div>
</div>

<h1 class="text-center">Algunos de nuestro trabajos</h1>

<div class="pictures">
  <div class="img">
    <div
      style="background-image: url('https://cdn0.ecologiaverde.com/es/posts/7/3/0/capibara_caracteristicas_habitat_y_alimentacion_4037_600.jpg');"></div>
    <div
      style=" background-image: url('https://t2.ea.ltmcdn.com/es/posts/5/8/1/cuidados_de_una_capibara_20185_orig.jpg');"></div>
    <div
      style="background-image: url('https://media.lacapital.com.ar/p/6887ba94829db49b2af29709653b4264/adjuntos/203/imagenes/030/516/0030516809/1200x675/smart/carpincho-bebejpg.jpg');"></div>
    <div
      style="background-image: url('https://img.freepik.com/foto-gratis/primer-plano-carpincho-vegetacion_181624-41616.jpg?size=626&ext=jpg&ga=GA1.1.386372595.1698105600&semt=sph');"></div>
    <div
      style="background-image: url('https://cdn.pixabay.com/photo/2017/08/18/06/51/capybara-2654006_640.jpg');"></div>
  </div>
</div>

<h1 class="text-center" >Visitanos</h1>
