<main class="container">
  <article>
    <h1 class="text-center">Empleados activos</h1>
    <div class="container">
      <h2 class="text-center">Estos son los empleados activos</h2>
      <div class="row justify-content-center">
        <div class="col-md-4" *ngFor="let employee of employees">
          <div class="card mb-3 tarjeta shadow">

            <div class="card-body">
              <h2 class="card-title text-center"><strong>{{employee.names}} {{employee.last_name}}</strong></h2>

              <p class="card-text"><strong>Tipo de documento: </strong>{{employee.doc_type}}</p>
              <p class="card-text"><strong>Telefono: </strong>{{employee.phone}}</p>
              <p class="card-text"><strong>Email: </strong>{{employee.email}}</p>
              <p class="card-text"><strong>Fecha de creación: </strong>{{employee.creation_date}}</p>
              <p class="card-text"><strong>Rol: </strong>{{employee.role}}</p>

              <div class="text-center">



                <button class="btn btn-success m-1" matTooltip="Editar" matTooltipPosition="left"
                  matTooltipClass="edit-tooltip" (click)="openDialogEditEmployee(employee)"><span class="material-symbols-outlined fs-5 align-text-bottom">
                    edit
                  </span></button>
                <button class="btn btn-danger m-1" matTooltip="Eliminar" matTooltipPosition="right"
                  matTooltipClass="delete-tooltip" (click)="blockEmployee(employee.id!)" ><span class="material-symbols-outlined fs-5 align-text-bottom">
                    delete
                  </span></button>


              </div>

            </div>
          </div>
        </div>
      </div>

    </div>


  </article>
</main>
