<main class="container">
  <article>
    <h1 class="text-center">Usuarios activos</h1>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4" *ngFor="let user of users">
          <div class="card mb-3 tarjeta shadow">

            <div class="card-body">

              <h2 class="card-title text-center"><strong>{{user.names}} {{user.last_name}}</strong></h2>

              <p class="card-text"><strong>Tipo de documento: </strong>{{user.doc_type}}</p>
              <p class="card-text"><strong>Telefono: </strong>{{user.phone}}</p>
              <p class="card-text"><strong>Email: </strong>{{user.email}}</p>
              <p class="card-text"><strong>Fecha de creación: </strong>{{user.creation_date}}</p>
              <p class="card-text"><strong>Rol: </strong>{{user.role}}</p>
              <p class="p-2 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-3 text-center" *ngIf="user.pets.length === 0">No tienes mascotas registradas.</p>
              <p class="card-text" *ngIf="user.pets.length !== 0"> <strong>Mascotas asignadas:</strong></p>

              <ol>
                <li *ngFor="let pet of user.pets">{{pet.name}}</li>
              </ol>
              <div class="text-center">


                <button class="btn btn-success m-1" matTooltip="Editar" matTooltipPosition="left"
                  matTooltipClass="edit-tooltip" (click)="openDialogEditUser(user)"><span class="material-symbols-outlined fs-5 align-text-bottom">
                    edit
                  </span></button>
                <button class="btn btn-danger m-1" matTooltip="Eliminar" matTooltipPosition="right"
                  matTooltipClass="delete-tooltip" (click)="blockUser(user.id!)" ><span class="material-symbols-outlined fs-5 align-text-bottom">
                    delete
                  </span></button>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>


  </article>
</main>
