
//Boton flotante
.float{

	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;

	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
  background-color: #1f9f53;
  color:#fff;
}

.my-float{
	margin-top:16px;
}

.float svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .hola{
  position: relative;
  --mdc-plain-tooltip-container-color: white !important;
  --mdc-plain-tooltip-supporting-text-color: black !important;
  --mdc-plain-tooltip-supporting-text-size: 1rem !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px !important;
}

::ng-deep .hola::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px; /* Ajusta la posición de la flecha */
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent white; /* Ajusta el color de la flecha */

}
