<h1 class="text-center">¡Comunícate con nosotros!</h1>

<form action="">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Correo electronico</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-primary me-2"><span class="material-symbols-outlined pe-1 align-text-top fs-5">
    send
    </span>Enviar</button>
  <button type="button" class="btn btn-danger"><span class="material-symbols-outlined pe-1 align-text-top fs-5">
    cancel
    </span>Cancelar</button>
</form>
