<div class="card text-center mx-auto" style="max-width: 55rem;">
  <div class="row p-0 m-0">
    <div class="col-sm-7">
      <div class="card-body">
        <h2 class="card-title">¿No tienes tu mascota registrada o deseas registrar una nueva?</h2>
        <p class="card-text">Regístrala, dando clic en el siguiente botón</p>
      </div>
    </div>
    <div class="col-sm d-flex align-items-center">
      <div class="card-body">
        <a href="pets" class="btn btn-primary"><span class="material-symbols-outlined align-text-bottom pe-1 fs-5">
          add_circle
          </span>Registrar mascota</a>
      </div>
    </div>
  </div>
</div>
