h1 {
  font-size: 7rem !important;
  line-height: 1 !important;
  margin-bottom: 20px !important;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 80%;

}
.row{
  width: 100% !important;
  margin-left: 0;
  margin-right: 0;
}

img{
  border-radius: 50%;
  width: 30rem;
  height: 30rem;

}
p{
  font-size: 3rem !important;
  line-height: 1 !important;
}

.imgcont {
  float: right;
  margin-right: -13rem !important;
}
