<h1 class="text-center">¡Registrate!</h1>
<div class="container">
  <div class="d-flex mb-3">
    <div class="name col">
      <label for="documentType" class="form-label">Tipo de documento</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>Seleccione su tipo de documento</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col">
      <label for="identificationNumber" class="form-label">Número de documento</label>
      <input type="number" class="form-control" id="identificationNumber" placeholder="Digite su número de documento">
    </div>
  </div>
  <div class="d-flex mb-3">
    <div class="name col">
      <label for="name" class="form-label">Nombres</label>
      <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre">
    </div>
    <div class="col">
      <label for="lastName" class="form-label">Apellidos</label>
      <input type="text" class="form-control" id="lastName" placeholder="Ingrese su apellido">
    </div>
  </div>
  <div class="d-flex mb-3">
    <div class="name col">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Ingrese su email">
    </div>
    <div class="col">
      <label for="email2" class="form-label">Email</label>
      <input type="email" class="form-control" id="email2" placeholder="Ingrese de nuevo su email">
    </div>
  </div>
  <div class="mb-3 small-input">
    <label for="userName" class="form-label">Nombre de usuario</label>
    <input type="text" class="form-control " id="userName" placeholder="Cree un nombre de usuario">
  </div>
  <div class="d-flex mb-3">
    <div class="name col">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" placeholder="Cree una contraseña">
    </div>
    <div class="col">
      <label for="password2" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password2" placeholder="Ingrese de nuevo su contraseña">
    </div>
  </div>

  <div class="d-flex mb-3">
    <div class="name col">
      <label for="birthdate" class="form-label">Fecha de nacimiento</label>
    <input type="date" class="form-control " id="birthdate" placeholder="Fecha de nacimiento">
    </div>
    <div class="col">
      <label for="age" class="form-label">Edad</label>
      <input type="number" class="form-control" id="age" placeholder="Ingrese de nuevo su contraseña">
    </div>
  </div>

</div>
