<h1 class="text-center">¡Registrate!</h1>
<form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="d-flex mb-3">
      <div class="name col">
        <label for="documentType" class="form-label">Tipo de documento</label>
        <select class="form-select" id="inputGroupSelect01" formControlName="doc_type">
          <option selected>Seleccione su tipo de documento</option>
          <option value="CC">CC</option>
          <option value="RC">RC</option>
          <option value="PE">PE</option>
        </select>
        <mat-error *ngIf="formRegister.get('doc_type')?.invalid && (formRegister.get('doc_type')?.touched || formRegister.get('doc_type')?.dirty)">
          Por favor seleccione su tipo de documento
        </mat-error>
      </div>
      <div class="col">
        <label for="identificationNumber" class="form-label">Número de documento</label>
        <input type="text" class="form-control" id="identificationNumber" placeholder="Digite su número de documento" formControlName="ident_document">
        <mat-error *ngIf="formRegister.get('ident_document')?.invalid && (formRegister.get('ident_document')?.touched || formRegister.get('ident_document')?.dirty)">
          Por favor ingrese su número de documento
        </mat-error>
      </div>
    </div>
    <div class="d-flex mb-3">
      <div class="name col">
        <label for="name" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre" formControlName="names">
        <mat-error *ngIf="formRegister.get('names')?.invalid && (formRegister.get('names')?.touched || formRegister.get('names')?.dirty)">
          Por favor ingrese su nombre
        </mat-error>
      </div>
      <div class="col">
        <label for="lastName" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="lastName" placeholder="Ingrese su apellido" formControlName="last_name">
      </div>
    </div>
    <div class="d-flex mb-3">
      <div class="name col">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Ingrese su email" formControlName="email">
        <mat-error *ngIf="formRegister.get('email')?.invalid && (formRegister.get('email')?.touched || formRegister.get('email')?.dirty)">
          El correo debe tener la estructura correcta
        </mat-error>
      </div>
      <div class="col">
        <label for="email2" class="form-label">Confirmar Email</label>
        <input type="email" class="form-control" id="email2" placeholder="Ingrese de nuevo su email" (input)="validateEmail()">
        <mat-error *ngIf="emailMismatch">
          Los correos no coindicen
        </mat-error>
      </div>
    </div>
    <div class="mb-3 small-input">
      <label for="userName" class="form-label">Nombre de usuario</label>
      <input type="text" class="form-control " id="userName" placeholder="Cree un nombre de usuario" formControlName="username">
      <mat-error *ngIf="formRegister.get('username')?.invalid && (formRegister.get('username')?.touched || formRegister.get('username')?.dirty)">
        Por favor cree un nombre de usuario
      </mat-error>
    </div>
    <div class="d-flex mb-3">
      <div class="name col">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" placeholder="Cree una contraseña" formControlName="password">
        <mat-error *ngIf="formRegister.get('password')?.invalid && (formRegister.get('password')?.touched || formRegister.get('password')?.dirty)">
          La contraseña es requerida y debe tener al menos 6 caracteres.
        </mat-error>
      </div>
      <div class="col">
        <label for="password2" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password2" placeholder="Ingrese de nuevo su contraseña" (input)="validatePassword()">
        <mat-error *ngIf="passwordMismatch">
          Las contraseñas no coincien
        </mat-error>
      </div>
    </div>

    <div class="d-flex mb-3">
      <div class="name col">
        <label for="phone" class="form-label">Teléfono</label>
      <input type="text" class="form-control " id="phone" placeholder="Número de teléfono" formControlName="phone">

      </div>

    </div>



  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary me-2" [disabled]="formRegister.invalid"><span class="material-symbols-outlined pe-1 align-text-bottom fs-5">
      how_to_reg
      </span>Crear usuario</button>
  </div>



</form>

