<div class="container" >
  <h2 class="text-center"><span class="material-symbols-outlined align-text-top pe-1 fs-5">
    pets
    </span>Edita tu información<span class="material-symbols-outlined align-text-top pe-1 fs-5">
      pets
      </span></h2>

  <form action="">
    <div class="mb-3">
      <label for="floatingInput">Selecciona tu nueva foto de perfil</label>
      <input type="file" class="form-control" aria-label="file example" required>
      <div class="invalid-feedback">Example invalid form file feedback</div>
    </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Nombres">
      <label for="floatingInput">Nombres</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Apellidos">
      <label for="floatingInput">Apellidos</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="floatingInput" placeholder="Teléfono">
      <label for="floatingInput">Teléfono</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="Correo electrónico">
      <label for="floatingInput">Correo electrónico</label>
    </div>
<div class="text-center mt-2">

  <button class="btn btn-success m-1"><span class="material-symbols-outlined align-text-bottom pe-1 fs-5">
    edit
    </span>Editar</button>
  <button class="btn btn-danger m-1"><span class="material-symbols-outlined align-text-bottom pe-1 fs-5">
      cancel
      </span>Cancelar</button>
</div>
  </form>

</div>

