/* You can add global styles to this file, and also import other style files */

$colorFondo:#EEEEEE;
$colorNavbar: #053B50;
$colorBtnNavbar: #64CCC5;
$colorBtnNavbar2: #a9e6df;;
$colorFooter: #176B87;

.cuerpo{
  background-color: $colorFondo;
}

